nav.navbar {
  height: $nav-height;
  background: $nav-bg;
  border: none;
  .navbar-header {
    // Header
  }
  .navbar-collapse {
    ul.navbar-nav {
      // Primary Nav
      li {
        a {
          color: $nav-clr;
          height: $nav-height;
          &:hover {
            color: $active-clr;
            background: $active-bg;
          }
        }
      }

      // Active State
      li.active {
        a {
          background: $active-bg;
          box-shadow: none;
          color: $active-clr;
        }
      }
    }
    ul.navbar-right {
      // Right Nav
    }
  }
}
